.first-article, .second-article, .third-article{
    width: 320px;
    height: 600px;
    border: 1px solid #DCDCDC;
    background-color: #DCDCDC;
    padding: 12px;
    margin:0px 16px 0px 16px;
    border-radius: 8px;
    text-align: justify;
    box-shadow: 4px 4px 10px gray;
}
article h1{
    text-align: center;
}
article:first-child{
    color: white;
    background-color: indianred;
}
header{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
nav li{
    margin-right: 36px;
    font-size: 24px;
}
nav a{
    text-decoration: none;
    color: black;
}
.search :focus{
    background-color: orange;
}
.search{
    font-size: 18px;
    border-radius: 8px;
}
nav a:hover{
    color: orange;
    border-bottom: 2px solid orange;
}
.form_nav{
    margin-left: 90px;
    width: 300px;
    padding: 12px;
    border-radius: 8px;
    background-color: gray;
}
h1{
    margin-right: 160px;
}
main{
    display: flex;
    margin-top: 24px;
}
footer{
    height: 300px;
    background-color: black;
    color: white;
    margin: 50px -12px 16px -12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h1, footer p, footer a{
    list-style-image: url("list.png");
}
}

footer a{
    text-decoration: none;
    color: lime;
}